@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
  box-sizing: border-box;
}
:root{
  --Anton: "Anton", sans-serif;
}
html, body{
  height: 100%;
  padding: 0;
  margin: 0;
}
#nav-body{
  position: relative;
  width: 100%;
}
.nav-brand{
  font-family: var(--Anton);
  font-size: 1.5rem;
  z-index: 1 !important;
}
.sorting{
  position: relative;
  width: 100%;
  bottom: 0;
  /* background-color: #303133; */
  margin: 0;
  padding: 0;
}
.point{
  position: absolute;
  margin: 0;
  padding: 0;
  height: 3.5px;
  width: 3px;
  border-radius: 100%;
}
.item:active{
    background-color: whitesmoke !important;
    color: black !important;
}

